/* body {
  background-color: grey;
  

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.app-title {
  text-align: centre;
  justify-content: center;
} */
